/*nav bar stuff*/
ul.navBar{
	z-index: 100;
	position: fixed;
	background-color:black;
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 0px;
	left: 0px;
	width:100%;
	max-height: 40px;
	display: flex;
	justify-content: space-around;
}
a.navItem{
    font-family: 'anon', 'cute', Anonymous Pro;
    color: white;
    text-decoration: none;
	padding-top: 11px;
	width: 50vw;
	height: 38px;
	margin: auto;
	display: inline-block;
	transition-duration: 0.4s;
}
li.navBar:hover{
	background-color:rgb(217, 217, 217);

}
li.activeNavItem{
	background-color:rgb(150, 150, 150);
}